* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: rgb(225, 232, 235);
}

header {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-weight: bolder;
}

.tombolx {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 50px;
    height: 50px;
}

.tombolx a img {
    width: 40px;
}

form {
    width: 400px;
    margin: 50px auto;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 2px 0 20px;
    padding: 12px 18px;
    box-shadow: 0 4px 6px rgb(189, 189, 189);
    font-size: 1.1rem;
}

::placeholder{
    color: red;
}

select {
    background-color: white;
}

textarea {
    resize: none;
}

.submit {
    display: flex;
    flex-direction: row-reverse;
}

button {
    background-color: black;
    color: #eee;
    border: none;
    border-radius: 50px;
    padding: 6px 26px;
    margin: 30px 0 0;
    font-weight: bold;
}